<h3>Crie sua conta</h3>
<div class="card">
<div class="card-body">
    {{#each erros}}
    <p class="alert alert-danger">{{texto}}</p>
    {{/each}}
         <form action="/usuarios/registro" method="post">
            <label for="nome">Nome Completo: </label>
                <input type="text" name="nome" class="form-control" required>
                <label for="nome">Nome de usuario: </label>
                <input type="text" name="nomeUs" class="form-control" required>
            <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" required>
            <label for="senha" >Senha: </label>
                <input type="password" name="senha" class="form-control" required>
             <label for="senha2">Repita a sua senha: </label>
                <input type="password" name="senha2" class="form-control" required>
                <button type="submit" class="btn btn-success mt-4">Criar conta</button>
         </form>
</div>
</div>
